@use "./abstracts/colors.scss";

body{
    background: #eee;
    font-family: 'Playfair Display', serif;
    color: colors.$text_black;
    padding: 3rem;
    background:colors.$dark_purple;
}



h1{
    font-size: 6.4rem;
    font-weight: 600;
}