@use "./abstracts/colors.scss";

body{
    background: #eee;
    font-family: 'Playfair Display', serif;
    color: colors.$text_black;
    padding: 0rem;
    background:colors.$dark_purple;
}

.avatar__body{
    padding: 0 3rem;
}



h1{
    font-size: 6.4rem;
    font-weight: 600;
}