$dark_purple:#462f79;
$light_purple:#604D8A;
$dark_accent:#CC8C47;
$light_accent:#F4C05D;
$text_off_white:#E7E0D3;
$text_black:#1D1D1D;
$text_white:#FFFFFF;


$dark_purple_low_opacity: rgba(70, 47, 121, 0.4);
$light_purple_low_opacity: rgba(96, 77, 138, 0.4);